<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Roasted Brussels Sprouts</title>
  </head>

  <body style="color:grey;margin-left:30px;">
    <h2>Roasted Brussels Sprouts</h2>
    <h3>Ingredients</h3>

    <ul>
      <% @ingredients.each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>

    <form action="/ingredients" method="post">
      <label for="ingredient">New Ingredient:</label>
      <input type="text" id="ingredient" name="ingredient">

      <input type="submit">
    </form>
    <h3>Instructions</h3>

    <% @instructions.each do |x| %>
      <li><%= x %></li>
    <% end %>

  </body>
</html>
